@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-light {
  background-color: white;
  padding: 5px 20px;
  font-weight: 600;
  /* Border */
  border: 1px solid black;
}

.btn-dark {
  background-color: #becca5;
  padding: 5px 20px;
  font-weight: 600;
  /* Border */
  border: 1px solid black;
}

.btn-light:hover {
  background-color: #becca5;
}

#hero-text {
  background: linear-gradient(to right, white 4px, transparent 4px) 0 100%,
    linear-gradient(to left, white 4px, transparent 4px) 100% 0,
    linear-gradient(to bottom, white 4px, transparent 4px) 100% 0,
    linear-gradient(to top, white 4px, transparent 4px) 0 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

#euroflorist-banner {
  background-image: url(../assets/euroflorist-banner.jpeg);
  background-size: cover;
  background-position: center;
}
